@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px)
    .header
      min-height: 680px


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
    .form-hold
      border-radius: 0
      .form-row-wrap
        justify-content: center
      .form-row
        width: 70%
        margin-bottom: 15px
      .form-control
        height: 40px
        font-size: 18px
        border-radius: 0
      .btn
        height: 50px
        font-size: 18px

    .partners-section
      .wrap-both
        .wrap-buton
          a
            z-index: 2

    .footer
      margin-top: -50px
      z-index: 1

    .slider-sections
      .slick-arrow
        top: 45%




/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
    .header
      .wrap-logo
        position: relative
        display: flex
        justify-content: center
        margin-bottom: 30px
      .wrap-content
        .title, .bigger-text
          font-size: 35px
        p
          font-size: 28px
    .form-hold
      .form-row
        width: 80%

    .we-specialize-section
      background-image: url(../img/background-we-specialize-mobile.png)
      margin-top: -130px
      .main-holder
        max-width: 500px
      ul
        margin-bottom: 20px
      li
        width: 50%
        margin-bottom: 0

    .proci-productions-section
      background: #592f14
      .wrap-description
        p
          br
            display: none

    .partners-section
      .wrap-title
        font-size: 26px
        margin-bottom: 20px
        margin-top: 30px
      .wrap-img
        img
          max-height: 150px
      .wrap-both
        padding-top: 30px
        h3
          font-size: 28px
        .mobile-button
          display: flex
        .desctop-button
          display: none

      li
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 0

      .parthers-img-section
        display: none
      .parthers-img-section-mobile
        display: block

    .slick-list
      .draggable
        height: auto

    .footer
      .footer-content
        flex-wrap: wrap
        margin: 0 -5px 10px




/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
    .header
      min-height: 470px
      .wrap-content
        .title, .bigger-text
          font-size: 25px
        .title
          margin-bottom: 10px
          span
            border-bottom: none
        p
          font-size: 20px
          line-height: 1.4
        .descton-hidden
          display: inline
      .wrap-logo
        margin-bottom: 15px
      .logo-container
        display: flex
        justify-content: center
        align-items: center
        width: 150px
        height: 90px
        a
          display: flex
          justify-content: center
          align-items: center

      img
        max-width: 70%
    .wrap-form-hold
      margin-top: -100px
    .form-hold
      padding: 15px 32px
      h3
        font-size: 20px
      .form-row
        width: 100%
    .slider-sections
      .slick-arrow
        top: 50%
      h3
        font-size: 25px


    .proci-productions-section
      padding: 30px 0 50px
      .wrap-title
        margin-bottom: 20px
        h3
          font-size: 24px
      .wrap-description
        p
          font-size: 17px
          line-height: 1.4
    .we-specialize-section
      .wrap-title
        h3
          font-size: 24px

    .partners-section
      .wrap-title
        font-size: 22px
      .wrap-both
        h3
          font-size: 21px

    .footer
      margin-top: -65px
      padding-top: 150px

      .mobile-hidden
        display: none
      .mobile-br
        display: inline
        width: 100%
      .desctop
        display: none

    .thanks-page
      .header
        background-image: url(../img/background-thanks-page-mobile.png) !important


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
    .header
      .wrap-content
        .title
          font-size: 20px
        p
          font-size: 18px

    .form-hold
      h3
        font-size: 17px

    .proci-productions-section
      .wrap-title
        h3
          font-size: 20px

    .we-specialize-section
      .wrap-title
        h3
          font-size: 20px
      .wrap-text
        p
          font-size: 15px

    .partners-section
      .wrap-title
        font-size: 17px
      .wrap-both
        h3
          font-size: 20px


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

